@font-face {
	font-family: BigNoodle;
	src: url('/fonts/bignoodletoo.woff') format('woff');
}

@font-face {
	font-family: OverIcons;
	src: url('/fonts/overicons.woff') format('woff');
}

body {
	background: none;
	margin: 0;
	font-family: BigNoodle, sans-serif;
	color: rgb(255, 255, 255);
}

div#overlay {
	position: absolute;
	width: 600px;
	height: 200px;
	background: rgba(45, 45, 45, 0.8);

	div#title {
		font-size: 40px;
	}

	div#sr,
	div#wld {
		font-size: 48px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-evenly;
	}
}

span.sr,
span.wld-value {
	margin-left: 0.75rem;
	font-size: 60px;
}

.gold {
	color: rgb(248, 209, 40);
}

.blue {
	color: rgb(40, 209, 248);
}

.red {
	color: rgb(248, 40, 40);
}

.green {
	color: rgb(40, 248, 145);
}

i.icon {
	font-family: OverIcons, sans-serif;
}

i.icon-tank:before {
	content: "\e902";
}

i.icon-dps:before {
	content: "\e900";
}

i.icon-support:before {
	content: "\e901";
}

div#loading {
	display: none;
	position: absolute;
	bottom: 12px;
	right: 12px;
	width: 24px;
	height: 24px;
	background: url('/images/loading.gif');
}
