extends layout

block content

    div.container
        div.row
            h1 Overwatch Twitch stats overlay generator
        div.row
            div.col-6
                h2 Options
                form#options
                    div.row
                        label.col-6(for='username') Overwatch Username
                        div.col-6
                            input#username(type='text', placeholder='example#1234')
                            div#username-error.text-danger
                h2 Browser Source URL
                p Copy this URL and add this as a browser source in your OBS or SLOBS.
                textarea#result
                p
                    a#try.btn.btn-primary(target='_blank', href='#') Preview
            div.col-6
                h2 What is this?
                p For Twitch streamers, this will generate an overlay that you can include in your OBS or SLOBS to display your Overwatch profile data on the screen.
                h2 Your profile MUST be public!
                div.alert.alert-warning
                    p This overlay cannot read your profile data unless your profile is set to public. To do this:
                    ul
                        li Load Overwatch
                        li Click OPTIONS
                        li Click the SOCIAL tab
                        li Set profile to PUBLIC
                    p This might take a few minutes to update, after you have changed this setting.
                h2 "Today's" stats
                p The API does not provide information on how many games you have won, tied, or lost on any day.
                p This overlay counts a "play session" as 2 hours, and will keep track of how much your WDL ratio changes during that period. If you don't use the overlay for 2 hours or more, the WDL numbers will be 0 next time you use it.
