extends layout

block content

    div.container
        div.row
            h1 Overwatch Twitch stats overlay generator
        div.row
            div.col-6
                h2 Options
                form#options
                    div.row
                        label.col-6(for='username') Overwatch Username
                        div.col-6
                            input#username(type='text', placeholder='example#1234')
                            div#username-error.text-danger
                h2 Browser Source URL
                p Copy this URL and add this as a browser source in your OBS or SLOBS.
                textarea#result
                p
                    a#try.btn.btn-primary(target='_blank', href='#') Preview
            div.col-6
                h2 What is this?
                p For Twitch streamers, this will generate an overlay that you can include in your OBS or SLOBS to display your Overwatch profile data on the screen.
