doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/overlay.css')
    body
        block overlay
        script(type='text/javascript', src='/javascripts/jquery-3.4.1.min.js')
        script(type='text/javascript', src='/javascripts/overlay.js')
