extends overlay-layout

block overlay
    div#overlay
        div#title loading
        div#sr
            div#sr-tank
                i.icon.icon-tank
                span.sr.gold 0
            div#sr-dps
                i.icon.icon-dps
                span.sr.gold 0
            div#sr-support
                i.icon.icon-support
                span.sr.gold 0
