@font-face {
  font-family: BigNoodle;
  src: url("/fonts/bignoodletoo.woff") format("woff"); }

@font-face {
  font-family: OverIcons;
  src: url("/fonts/overicons.woff") format("woff"); }

body {
  background: none;
  margin: 0;
  font-family: BigNoodle, sans-serif;
  color: white; }

div#overlay {
  position: absolute;
  width: 600px;
  height: 200px;
  background: rgba(45, 45, 45, 0.8); }
  div#overlay div#title {
    font-size: 40px; }
  div#overlay div#sr,
  div#overlay div#wld {
    font-size: 48px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly; }

span.sr,
span.wld-value {
  margin-left: 0.75rem;
  font-size: 60px; }

.gold {
  color: #f8d128; }

.blue {
  color: #28d1f8; }

.red {
  color: #f82828; }

.green {
  color: #28f891; }

i.icon {
  font-family: OverIcons, sans-serif; }

i.icon-tank:before {
  content: "\e902"; }

i.icon-dps:before {
  content: "\e900"; }

i.icon-support:before {
  content: "\e901"; }

div#loading {
  display: none;
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background: url("/images/loading.gif"); }
